.Days {
    border: solid black 2px;
    background-color: aliceblue;
    padding:7px 7px 7px 7px;
    margin: 1px;
    display: inline-block;
    text-align: center;
    width:15%;
    height:100%;
}

#place0{
    font-size:25px;
    font-family:'Trajan Pro';
    border-bottom:solid black 2px;
}

#day0{
    font-size: 20px;
    font-family:'Trajan Pro';
}

#conditionsDesc0 {
    font-family:'Trajan Pro';
 
}

#currentTemp0 {
    font-family:'Trajan Pro';
}

#place1 {
    font-size: 25px;
    font-family: 'Trajan Pro';
    border-bottom: solid black 2px;
}

#day1 {
    font-size: 20px;
    font-family: 'Trajan Pro';
}

#conditionsDesc1 {
    font-family: 'Trajan Pro';
}

#currentTemp1 {
    font-family: 'Trajan Pro';
}

#place2 {
    font-size: 25px;
    font-family: 'Trajan Pro';
    border-bottom: solid black 2px;
}

#day2 {
    font-size: 20px;
    font-family: 'Trajan Pro';
}

#conditionsDesc2 {
    font-family: 'Trajan Pro';
}

#currentTemp2 {
    font-family: 'Trajan Pro';
}

#place3 {
    font-size: 25px;
    font-family: 'Trajan Pro';
    border-bottom: solid black 2px;
}

#day3 {
    font-size: 20px;
    font-family: 'Trajan Pro';
}

#conditionsDesc3 {
    font-family: 'Trajan Pro';
}

#currentTemp3 {
    font-family: 'Trajan Pro';
}

#place4 {
    font-size: 25px;
    font-family: 'Trajan Pro';
    border-bottom: solid black 2px;
}

#day4 {
    font-size: 20px;
    font-family: 'Trajan Pro';
}

#conditionsDesc4 {
    font-family: 'Trajan Pro';
}

#currentTemp4 {
    font-family: 'Trajan Pro';
}



body {
    background-image: url("./SLC.jpg");
    background-size: 100%;
}