body{
	background-color: azure;
	padding: 25px;
}

h1{
	text-align:center;
	padding: 12px;
	margin-bottom: 15px;
}
.MatchV{
	background-color: paleturquoise;
	display:flex;
	position: relative;
	padding: 25px;
	margin: 15px auto;
	align-content: center;
	border: 0.5px solid;
}
.MatchD{
	background-color: rgba(225, 37, 12, 0.37);
	display:flex;
	position: relative;
	padding: 25px;
	margin: 15px auto;
	align-content: center;
	border: 0.5px solid;
}

.gameList{
	border: 2px solid;
	width:60%;
	display:block;
	position: relative;
	padding: 25px;
	margin: 15px auto;
	align-content: center;
}

.sumName{
    background-color: black;
    color: wheat;
    font-size: 15pt;
    font-style: italic;
    display: flex;
    margin: -10% auto 20px auto;
    align-content: center;
    width: max-content;
    z-index: 1;
    position: relative;
    padding: 5px;
}

.layout{
	display: table;
	border-collapse: collapse;
	border: 1px solid #cdd2d2;
    border-top-color: rgb(205, 210, 210);
    border-right-color: rgb(205, 210, 210);
    border-bottom-color: rgb(205, 210, 210);
    border-left-color: rgb(205, 210, 210);
}

.results {
	width: 10%;
    min-width: fit-content;
    margin: auto 5px;
}
.gameSettings {
	width: 100px;
	font-size: 0;
}

.kda{
    height: 50%;
    width: 13%;
    min-width: fit-content;
    margin: auto 5px;
    font-size: 15px;
    white-space: nowrap;
}

.KDA{
	height: 50%;
	margin: 15% auto 15% auto;
	font-size: 15px;
	white-space: nowrap;
}

.KDARatio{
	height: 50%;
	margin: auto 5px;
}

.Stats {
    width: 10%;
    min-width: fit-content;
    height: 18px;
    margin: auto 5px; 
    padding: 0px 0px;
    text-align: left;
    white-space: nowrap;
}

.players {
	width: 170px;
	font-size: 0;
}

.team {
float: left;
width: 50%;
}

.teamsList{
	width: 40%;
    min-width: fit-content;
}

.summoner{
    display: block;
    height: fit-content;
    margin: auto;
    text-align: left;
    white-space: nowrap;
    padding: 1px 3px;
}

.summonerName{
	margin: 0px 11px;
}

.l-container{
position:relative; 
min-height:700px; 
padding-bottom:120px;
}

.index-logo{
	margin:15px;
}

.champImage{
	height: 80%;
	width: 80%;
	margin: auto 5px;
}

.champImageList {
	height: 35px;
	widows: 35px;
}

.imgDiv{
	width: 15%;
    min-width: fit-content;
    margin: auto 5px;
}

.Image{
	display: block;
    margin: 0px auto;
    width: 200px;
    height: 200px;
    margin-bottom: 120px;
    border: 5px solid;
}

.summoner-search-form{
	margin: 25px auto;
	display: block;
	width: max-content;
	height: max-content;

}
