body{
	background-color: azure;
	padding: 25px;
}

h1{
	text-align:center;
	padding: 12px;
	bottom-margin: 15px;
}
.MatchV{
	background-color: paleturquoise;
	width: 78%;
	display:flex;
	position: relative;
	padding: 25px;
	margin: 15px auto;
	align-content: center;
	border: 0.5px solid;
}
.MatchD{
	background-color: rgba(225, 37, 12, 0.37);
	width: 78%;
	display:flex;
	position: relative;
	padding: 25px;
	margin: 15px auto;
	align-content: center;
	border: 0.5px solid;
}

.gameList{
	border: 2px solid;
	width:40%;
	display:block;
	position: relative;
	padding: 25px;
	margin: 15px auto;
	align-content: center;
}

.sumName{
	background-color: black;
	color: wheat;
	font-size: 15pt;
	font-style: italic;
	display: flex;
	margin: -33px auto 20px auto;
	align-content: center;
	width: max-content;
	z-index: 1;
	position: relative;
	padding: 5px;
}

.l-container{
position:relative; 
min-height:700px; 
padding-bottom:120px;
}

.index-logo{
	margin:15px;
}

.Image{
	display:block;
	margin:auto;
	width:300px;
	height:300px;
	bottom-margin:120px;
	border: 3px ; 
}

.summoner-search-form{
	margin: 25px auto;
	display: block;
	width: max-content;
	height: max-content;

}
